body {
    background: #252525;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
}

.buttons button {
    background-color: #252525;
    text-decoration: none;
    display: inline-block;
    margin: 0 20px;
    padding: 10px 30px;
    position: relative;
    border: 2px solid #9b9b9b;
    color: #9b9b9b;
    font-size: xx-large;
    font-family: 'Montserrat', sans-serif;
    transition: .4s;
    font-weight: 700;
}

.buttons button:hover {
    padding: 20px 40px;
    transition: .4s;
}