.table {
	width: 60%;
	border: none;
	margin-bottom: 20px;
    margin-top: 200px;
    margin-left: 20%;
}
.table thead th {
	font-weight: bolder;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #202020;
	font-size: 14px;
	border-right: 1px solid #252525;
    color: #808080;
}
.table tbody td {
    font-weight: bold;
    background: #3f3f3f;
	text-align: left;
	border-right: 1px solid#252525;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
    color: #9b9b9b;
}
.table thead tr th:first-child, .table tbody tr td:first-child {
	border-left: none;
}
.table thead tr th:last-child, .table tbody tr td:last-child {
	border-right: none;
}
.table tbody tr:nth-child(even){
	background: #3d3d3d;
}

body {
    background: #252525;
}